* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #aaa;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  border: 1px solid #911600;
  border-radius: 5px;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,
.btn2 {
  color: #911600;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #911600;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}

.btn_2 {
  border: 1px solid #911600;
  color: #911600;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  padding: 5px;
  transition: 0.2s;
}

.btn_2:hover {
  border: 1px solid #911600;
  color: white;
  border-radius: 5px;
  background: #911600;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.searchbar {
  border: 1px solid #911600;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  margin: 5px;
}

.buttonrow {
  text-align: center;
  padding: 0.5%;
}

.delete-btn {
  background-color: #911600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 11px;
  cursor: pointer;
  float: right;
  margin: 9px;
}
.delete-btn:hover {
  background-color: #b61b00;
}

.search {
  text-align: left;
}

.spantest {
  font-size: 20pt;
  display: inline-block;
  text-align: center;
  width: 27%;
  margin-left: 2%;
}

/* Checkboxen abgewandelt von https://www.inserthtml.com/2012/06/custom-form-radio-checkbox/ */
input[type="checkbox"] {
  border: 2px;
  height: 25px;
  width: 25px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: "\2718";
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #911600;
}

.addTodo {
  margin-left: 2%;
  margin-right: 2%;
}

.edit-mode {
  margin-left: 20%;
}
